---
- name: Create Security Group for EFS
  amazon.aws.ec2_security_group:
    name: "{{ efs_name }}-sg"
    description: Security group for EFS
    vpc_id: "{{ vpc_id }}"
    region: "{{ aws_region }}"
    access_key: "{{ aws_access_key }}"
    secret_key: "{{ aws_secret_key }}"
    rules:
      - proto: tcp
        from_port: 2049
        to_port: 2049
        cidr_ip: "{{ vpc_cidr }}"
    state: present
  register: efs_sg

- name: Create EFS File System and Mount Targets
  community.aws.efs:
    name: "{{ efs_name }}"
    region: "{{ aws_region }}"
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    state: present
    encrypt: true
    tags:
      Name: "{{ efs_name }}"
    targets:
      - subnet_id: "{{ subnet_id }}"
- name: Get EFS status
  community.aws.efs_info:
    name: "{{ efs_name }}"
    region: "{{ aws_region }}"
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
  register: efs_status

- name: Set EFS DNS fact
  set_fact:
    efs_dns_name: "{{ efs_status.efs[0].file_system_id }}.efs.{{ aws_region }}.amazonaws.com"
  
- name: Debug EFS DNS
  debug:
    msg: "EFS DNS Name: {{ efs_dns_name }}"
