---
- name: Create VPC
  amazon.aws.ec2_vpc_net:
    name: "{{ vpc_name }}"
    cidr_block: "{{ vpc_cidr }}"
    region: "{{ aws_region }}"
    access_key: "{{ aws_access_key }}"
    secret_key: "{{ aws_secret_key }}"
    state: present
    tags:
      Name: "{{ vpc_name }}"
      Environment: "{{ deployment_environment | default('production') }}"
      ManagedBy: "Ansible"
  register: vpc

- name: Create Subnet
  amazon.aws.ec2_vpc_subnet:
    vpc_id: "{{ vpc.vpc.id }}"
    region: "{{ aws_region }}"
    access_key: "{{ aws_access_key }}"
    secret_key: "{{ aws_secret_key }}"
    cidr: "{{ subnet_cidr }}"
    map_public: true
    state: present
    tags:
      Name: "{{ subnet_name }}"
      VPC: "{{ vpc_name }}"
      Environment: "{{ deployment_environment | default('production') }}"
      ManagedBy: "Ansible"
  register: subnet

- name: Create Internet Gateway
  amazon.aws.ec2_vpc_igw:
    vpc_id: "{{ vpc.vpc.id }}"
    region: "{{ aws_region }}"
    access_key: "{{ aws_access_key }}"
    secret_key: "{{ aws_secret_key }}"
    state: present
    tags:
      Name: "{{ vpc_name }}-igw"
      VPC: "{{ vpc_name }}"
      Environment: "{{ deployment_environment | default('production') }}"
      ManagedBy: "Ansible"
  register: igw

- name: Create or Update Route Table
  amazon.aws.ec2_vpc_route_table:
    vpc_id: "{{ vpc.vpc.id }}"
    region: "{{ aws_region }}"
    access_key: "{{ aws_access_key }}"
    secret_key: "{{ aws_secret_key }}"
    lookup: tag
    tags:
      Name: "{{ vpc_name }}-route-table"
      VPC: "{{ vpc_name }}"
      Environment: "{{ deployment_environment | default('production') }}"
      ManagedBy: "Ansible"
    subnets:
      - "{{ subnet.subnet.id }}"
    routes:
      - dest: 0.0.0.0/0
        gateway_id: "{{ igw.gateway_id }}"
    purge_subnets: false
    purge_routes: false
    state: present
  register: route_table

- name: Set facts for other roles
  set_fact:
    vpc_id: "{{ vpc.vpc.id }}"
    subnet_id: "{{ subnet.subnet.id }}"
    igw_id: "{{ igw.gateway_id }}"
    route_table_id: "{{ route_table.route_table.id }}"
    cacheable: yes