---
- name: Create Grafana directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - /opt/grafana
    - /opt/grafana/data
    - /opt/grafana/provisioning/datasources
    - /opt/grafana/provisioning/dashboards
    - /opt/grafana/dashboards
  become: yes

- name: Set Grafana directory ownership
  file:
    path: "{{ item }}"
    owner: "472"
    group: "472"
    recurse: yes
    state: directory
  loop:
    - /opt/grafana/data
    - /opt/grafana/dashboards
  become: yes

- name: Deploy Grafana provisioning
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0644'
  loop:
    - { src: 'datasource.yml.j2', dest: '/opt/grafana/provisioning/datasources/prometheus.yml' }
    - { src: 'dashboard_provider.yml.j2', dest: '/opt/grafana/provisioning/dashboards/standard.yml' }
  become: yes

- name: Download familiar dashboards
  get_url:
    url: "{{ item.url }}"
    dest: "/opt/grafana/dashboards/{{ item.name }}.json"
    mode: '0644'
    owner: "472"
    group: "472"
  loop:
    - { name: 'node-exporter', url: 'https://grafana.com/api/dashboards/1860/revisions/37/download' }
  become: yes

- name: Fix dashboard datasource references
  shell: |
    for file in /opt/grafana/dashboards/*.json; do
      sed -i 's/"${DS_PROMETHEUS}"/"Prometheus"/g' "$file"
      sed -i 's/\${DS_PROMETHEUS}/Prometheus/g' "$file"
    done
  become: yes

- name: Set correct ownership on processed dashboards
  file:
    path: "{{ item }}"
    owner: "472"
    group: "472"
    mode: '0644'
  loop:
    - /opt/grafana/dashboards/node-exporter.json
  become: yes

- name: Run Grafana Container
  docker_container:
    name: grafana
    image: grafana/grafana:latest
    state: started
    restart_policy: always
    network_mode: "{{ docker_network_name | default('bridge') }}"
    published_ports:
      - "3000:3000"
    env:
      GF_SERVER_DOMAIN: "{{ domain }}"
      GF_SERVER_ROOT_URL: "http://localhost:3000/grafana"
      GF_SERVE_FROM_SUB_PATH: "true"
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password | default('admin') }}"
    volumes:
      - /opt/grafana/data:/var/lib/grafana
      - /opt/grafana/provisioning:/etc/grafana/provisioning
      - /opt/grafana/dashboards:/var/lib/grafana/dashboards
  become: yes