---
- name: Create Prometheus directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - /opt/prometheus
    - /opt/prometheus/data
  become: yes

- name: Set Prometheus directory ownership
  file:
    path: /opt/prometheus/data
    owner: "65534"
    group: "65534"
    recurse: yes
    state: directory
  become: yes

- name: Deploy Prometheus configuration
  template:
    src: prometheus.yml.j2
    dest: /opt/prometheus/prometheus.yml
    mode: '0644'
  become: yes

- name: Run Prometheus Container
  docker_container:
    name: prometheus
    image: prom/prometheus:latest
    state: started
    restart_policy: always
    network_mode: "{{ docker_network_name | default('bridge') }}"
    published_ports:
      - "9090:9090"
    volumes:
      - /opt/prometheus/data:/prometheus
      - /opt/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
  become: yes